<!-- Header -->
<header class="da-header-host">
  <app-da-header></app-da-header>
</header>
<main>
  <as-split direction="horizontal" [useTransition]="true" unit="pixel">
    <as-split-area [size]="200">
      <nav class="da-sidebar-host">
        <app-da-sidebar></app-da-sidebar>
      </nav>
    </as-split-area>
    <as-split-area class="main-content">
      <app-da-data></app-da-data>
    </as-split-area>
  </as-split>
</main>
<footer>
  <app-da-footer></app-da-footer>
</footer>


<router-outlet></router-outlet>