:host {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    $height: 26pt;
    flex: 0 0 $height;
    display: flex;

    border-bottom: 1pt solid black;
    line-height: $height;
}

main {
    flex: 1;
    overflow: hidden;
    display: flex;

    .main-content {
        display: flex;
        flex-direction: column;
    }
}

footer {
    $height: 28pt;
    flex: 0 0 $height;
    display: flex;

    border-top: 1pt solid black;
    line-height: $height;
}
