
$header-height: 26pt;

$background-color-header: rgb(157, 187, 214);

$background-color-even: rgb(242, 242, 242);
$background-color-odd: rgb(236, 236, 236);

$background-color-highlight: rgb(226, 255, 172);
$background-color-hover: rgb(255, 227, 137);

@mixin da-button($button-size, $border-radius: 3pt, $border-color: grey) {
    @content;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: $button-size;
        height: $button-size;
        border: 1pt solid $border-color;
        border-radius: $border-radius;
        text-align: center;
        line-height: $button-size;
        font-size: calc($button-size * 0.75);// 2 / 3);
        cursor: pointer;

        &:hover {
            background-color: rgb(255, 243, 173);
        }
        &:active {
            color: red;
        }
    }
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    background-color: white;
    font-weight: normal;
    white-space: nowrap;

    &#ctxMenu {
        display: none;
        z-index: 100;
    }
    &:hover {
        background-color: #eef;
        font-weight: bold;
        & > menu {
            display: block;
        }
    }
    & > menu {
        display: none;
        position: relative;
        top: -20px;
        left: 100%;
       // width: 55px;
       min-width: min-content;
       padding: 0 5pt;
    }
    &[title]:before{
        content:attr(title);
    }
    &:not([title]):before{
        content:"\2630";
    }
}